<script lang="ts" setup>
import Mail from './components/Mail.vue'
import { accounts, mails } from './data/mails'
</script>

<template>

  <Mail :accounts="accounts" :mails="mails" :nav-collapsed-size="4" />
</template>
