<script setup lang="ts">
import ShadcnLayout from '@/Layouts/ShadcnLayout.vue'
import { accounts, mails } from '@/Pages/mail/data/mails'
import { Activity, ArrowUpRight, CreditCard, DollarSign, Menu, Package2, Search, Users } from 'lucide-vue-next'
import { Avatar, AvatarFallback, AvatarImage } from '@/Components/ui/avatar'
import { Button } from '@/Components/ui/button'
import { Card, CardContent, CardDescription, CardHeader, CardTitle } from '@/Components/ui/card'
import { Table, TableBody, TableCell, TableHead, TableHeader, TableRow } from '@/Components/ui/table'
import UserNav from './tasks/components/UserNav.vue'


type Comment = {
  id: string;
  content: string;
  publication_id: string;
  user_id: string;
  created_at: string;
  updated_at: string;
  name: string;
  email: string;
}

type Contributor = {
  name: string;
  email: string;
  comments_count: number;
};

const props = defineProps<{
  recentComments: Comment[];
  topContributors: Contributor[];
  totalPostsCurrentMonth: number;
  delta: number;
  totalCommentsCurrentMonth: number;
  commentsDelta: number;
}>();

</script>

<template>
  <ShadcnLayout :accounts="accounts" :mails="mails" :navCollapsedSize="4">
    <div class=" sticky z-50 top-0 bg-white shadow-sm  flex-1 flex-col space-t-8 pt-8 px-8 md:flex">
      <div class="flex items-center justify-between space-y-2">
        <div>
          <h2 class="text-2xl font-bold tracking-tight">
            Welcome back!
          </h2>
          <p class="text-muted-foreground">
            Here&apos;s a list of your tasks for this month!
          </p>
        </div>
        <div class="flex items-center space-x-2">
          <UserNav />
        </div>
      </div>
    </div>
    <div class="flex w-full flex-col">

      <main class="flex flex-1 flex-col gap-4 p-4 md:gap-8 md:p-8">
        <div class="grid gap-4 md:grid-cols-2 md:gap-8 lg:grid-cols-4">
          <Card>
            <CardHeader class="flex flex-row items-center justify-between space-y-0 pb-2">
              <CardTitle class="text-sm font-medium">
                Total Posts
              </CardTitle>
              <DollarSign class="h-4 w-4 text-muted-foreground" />
            </CardHeader>
            <CardContent>
              <div class="text-2xl font-bold">
                {{ props.totalPostsCurrentMonth }}
              </div>
              <p class="text-xs text-muted-foreground">
                {{ props.delta > 0 ? '+' : '-' }} {{ props.delta }}% from last month
              </p>
            </CardContent>
          </Card>
          <Card>
            <CardHeader class="flex flex-row items-center justify-between space-y-0 pb-2">
              <CardTitle class="text-sm font-medium">
                Total Comments
              </CardTitle>
              <Users class="h-4 w-4 text-muted-foreground" />
            </CardHeader>
            <CardContent>
              <div class="text-2xl font-bold">
                +2350
              </div>
              <p class="text-xs text-muted-foreground">
                {{ commentsDelta > 0 ? '+' : '' }}{{ commentsDelta.toFixed(1) }}% from last month
              </p>

            </CardContent>
          </Card>
          <Card>
            <CardHeader class="flex flex-row items-center justify-between space-y-0 pb-2">
              <CardTitle class="text-sm font-medium">
                Active Users Today
              </CardTitle>
              <CreditCard class="h-4 w-4 text-muted-foreground" />
            </CardHeader>
            <CardContent>
              <div class="text-2xl font-bold">
                +12,234
              </div>
              <p class="text-xs text-muted-foreground">
                +19% from last month
              </p>
            </CardContent>
          </Card>
          <Card>
            <CardHeader class="flex flex-row items-center justify-between space-y-0 pb-2">
              <CardTitle class="text-sm font-medium">
                Posts Today
              </CardTitle>
              <Activity class="h-4 w-4 text-muted-foreground" />
            </CardHeader>
            <CardContent>
              <div class="text-2xl font-bold">
                +573
              </div>
              <p class="text-xs text-muted-foreground">
                +201 since last hour
              </p>
            </CardContent>
          </Card>
        </div>
        <div class="grid gap-4 md:gap-8 lg:grid-cols-2 xl:grid-cols-3">
          <Card class="xl:col-span-2">
            <CardHeader class="flex flex-row items-center">
              <div class="grid gap-2">
                <CardTitle>Recent Comments</CardTitle>
                <CardDescription>
                  Recent transactions from your store.
                </CardDescription>
              </div>
              <Button as-child size="sm" class="ml-auto gap-1">
                <a href="#">
                  View All
                  <ArrowUpRight class="h-4 w-4" />
                </a>
              </Button>
            </CardHeader>
            <CardContent>
              <Table>
                <TableHeader>
                  <TableRow>
                    <TableHead>Author</TableHead>
                    <TableHead>Comment</TableHead>
                    <TableHead>Date</TableHead>
                  </TableRow>
                </TableHeader>
                <TableBody>
                  <TableRow v-for="comment in recentComments" :key="comment.id">
                    <TableCell>
                      <!-- Supposons que vous ayez aussi les noms des utilisateurs dans vos données de commentaires -->
                      <div class="font-medium">
                        {{ comment.name }}
                      </div>
                      <div class="hidden text-sm text-muted-foreground md:inline">
                        {{ comment.email }} <!-- Mettez à jour selon votre structure de données -->
                      </div>
                    </TableCell>
                    <TableCell>
                      {{ comment.content }}
                    </TableCell>
                    <TableCell>
                      {{ new Date(comment.created_at).toLocaleDateString() }}
                    </TableCell>
                  </TableRow>
                </TableBody>
              </Table>
            </CardContent>

          </Card>
          <Card>
            <CardHeader>
              <CardTitle>Top Contributors</CardTitle>
            </CardHeader>
            <CardContent class="grid gap-8">
              <div v-for="contributor in topContributors" :key="contributor.email" class="flex items-center gap-4">
                <Avatar class="hidden h-9 w-9 sm:flex">
                  <AvatarImage src="/avatars/02.png" alt="Avatar" />
                  <AvatarFallback>JL</AvatarFallback>
                </Avatar>
                <div class="grid gap-1">
                  <p class="text-sm font-medium leading-none">
                    {{ contributor.name }}
                  </p>
                  <p class="text-sm text-muted-foreground">
                    {{ contributor.email }}
                  </p>
                </div>
                <div class="ml-auto font-medium">
                  {{ contributor.comments_count }} Comments
                </div>
              </div>
            </CardContent>
          </Card>
        </div>
      </main>
    </div>
  </ShadcnLayout>
</template>