<script setup lang="ts">
import { accounts, mails } from '@/Pages/mail/data/mails'
import ShadcnLayout from '@/Layouts/ShadcnLayout.vue';
import DisplayForm from '@/Pages/Setting/components/DisplayForm.vue';
import SettingsLayout from '@/Pages/Setting/layouts/SettingsLayout.vue'


</script>

<template>
  <ShadcnLayout :accounts="accounts" :mails="mails" :navCollapsedSize="4">
    <SettingsLayout>
      <DisplayForm />
    </SettingsLayout>
  </ShadcnLayout>

</template>
