<script setup lang="ts">
import { accounts, mails } from '@/Pages/mail/data/mails'
import ShadcnLayout from '@/Layouts/ShadcnLayout.vue';
import SettingsLayout from '@/Pages/Setting/layouts/SettingsLayout.vue';
import ProfileForm from '@/Pages/Setting/components/ProfileForm.vue';


</script>

<template>
  <ShadcnLayout :accounts="accounts" :mails="mails" :navCollapsedSize="4">
    <SettingsLayout>
      <ProfileForm />
    </SettingsLayout>
  </ShadcnLayout>

</template>
