<script setup lang="ts">
import ShadcnLayout from '@/Layouts/ShadcnLayout.vue'
import { accounts, mails } from '@/Pages/mail/data/mails'
</script>

<template>
    <ShadcnLayout :accounts="accounts" :mails="mails" :navCollapsedSize="4">
        <h1>Comments</h1>
    </ShadcnLayout>
</template>