<script setup lang="ts">
import { Button } from '@/Components/ui/button'
import { Card, CardContent, CardDescription, CardHeader, CardTitle } from '@/Components/ui/card'
import { Input } from '@/Components/ui/input'
import { Label } from '@/Components/ui/label'
import { Link, useForm, router } from '@inertiajs/vue3';
import { useToast } from '@/Components/ui/toast/use-toast';
import Toaster from '@/Components/ui/toast/Toaster.vue';
import { h } from 'vue'
import { ToastAction } from '@/Components/ui/toast'

// Define component props
defineProps<{
    canResetPassword?: boolean;
    status?: string;
}>();

const { toast } = useToast();

// Setup form with useForm hook from Inertia.js
const form = useForm({
    email: '',
    password: '',
    remember: false,
});

// Submit handler with simplified error handling via toast
const submit = () => {
    form.post(route('login'), {
        onError: (errors) => {
            Object.entries(errors).forEach(([field, message]) => {
                toast({
                    title: field.charAt(0).toUpperCase() + field.slice(1),
                    description: message,
                    variant: 'destructive',
                    action: h(ToastAction, {
                        onClick: () => router.visit(route('register')),
                        altText: "Register",
                    }, {
                        default: () => "Don't have an account?",
                    }),

                });
            });
        },
        onFinish: () => form.reset('password'),
    });
};
</script>


<template>
    <Toaster />
    <Card class=" mx-auto my-auto max-w-sm">
        <CardHeader>
            <CardTitle class="text-2xl">
                Login
            </CardTitle>
            <CardDescription>
                Enter your email below to login to your account
            </CardDescription>
        </CardHeader>
        <CardContent class="flex flex-col justify-between">
            <!-- Form submission handled here -->
            <form @submit.prevent="submit">
                <div class="grid gap-4">
                    <div class="grid gap-2">
                        <Label for="email">Email</Label>
                        <!-- Bind input to the form object for reactivity -->
                        <Input id="email" type="email" v-model="form.email" placeholder="m@example.com" required />
                    </div>
                    <div class="grid gap-2">
                        <div class="flex items-center">
                            <Label for="password">Password</Label>
                            <Link v-if="canResetPassword" :href="route('password.request')"
                                class="ml-auto inline-block text-sm underline">
                            Forgot your password?
                            </Link>
                        </div>
                        <!-- Bind input to the form object for reactivity -->
                        <Input id="password" type="password" v-model="form.password" required />
                    </div>
                </div>
                <div class="flex flex-col gap-4">
                    <Button type="submit" class="w-full">
                        Login
                    </Button>
                    <div class="text-center text-sm">
                        Don't have an account?
                        <Link :href="route('register')" class="underline">
                        Sign up
                        </Link>
                    </div>
                </div>
            </form>
        </CardContent>
    </Card>
</template>
