<script setup lang="ts">
import { useForm, Link } from '@inertiajs/vue3';
import { useToast } from '@/Components/ui/toast/use-toast'; // Adjust the path as needed
import { Button } from '@/Components/ui/button';
import { Card, CardContent, CardDescription, CardHeader, CardTitle } from '@/Components/ui/card';
import { Input } from '@/Components/ui/input';
import { Label } from '@/Components/ui/label';
import { Toaster } from '@/Components/ui/toast';
import { cn } from '@/lib/utils';

const { toast } = useToast();

const form = useForm({
    name: '',
    email: '',
    password: '',
    password_confirmation: ''
});

const submit = () => {
    form.post(route('register'), {
        onSuccess: () => {
            toast({ title: 'Registration successful', description: 'You can now login.' });
        },
        onError: (errors) => {
            Object.entries(errors).forEach(async ([field, message]) => {
                await Promise.resolve(
                    toast(
                        {
                            variant: "destructive",
                            title: field.charAt(0).toUpperCase() + field.slice(1),
                            description: message,
                        })
                );
            });
        },
        onFinish: () => form.reset('password'),
    });
};
</script>

<template>
    <Toaster />

    <Card :class="cn(
        'mx-auto my-auto max-w-sm border transition-colors duration-300',
        { 'border-red-500': Object.keys(form.errors).length > 0, 'border-gray-300': !Object.keys(form.errors).length }
    )">
        <CardHeader>
            <CardTitle class="text-xl">
                Sign Up
            </CardTitle>
            <CardDescription>
                Enter your information to create an account
            </CardDescription>
        </CardHeader>
        <CardContent>
            <form @submit.prevent="submit" class="grid gap-4">
                <div class="grid gap-2">
                    <Label for="first-name">Name</Label>
                    <Input id="first-name" placeholder="David" required v-model="form.name" />
                </div>
                <div class="grid gap-2">
                    <Label for="email">Email</Label>
                    <Input id="email" type="email" placeholder="m@example.com" required v-model="form.email" />
                </div>
                <div class="grid gap-2">
                    <Label for="password">Password</Label>
                    <Input id="password" type="password" required v-model="form.password" />
                </div>
                <div class="grid gap-2">
                    <Label for="password">Password Confirmation</Label>
                    <Input id="password" type="password" required v-model="form.password_confirmation" />
                </div>
                <Button type="submit" class="w-full">
                    Create an account
                </Button>
            </form>
            <div class="mt-4 text-center text-sm">
                Already have an account?
                <Link :href="route('login')" class="underline">Sign in</Link>
            </div>
        </CardContent>
    </Card>
</template>
