<script lang="ts" setup>

import { computed, ref } from 'vue'
import type { Mail } from '@/Pages/mail/data/mails'
import Nav, { type LinkProp } from '@/Pages/mail/components/Nav.vue'
import { cn } from '@/lib/utils'
import { Separator } from '@/Components/ui/separator'
import { ChevronsRight } from 'lucide-vue-next';
import { TooltipProvider } from '@/Components/ui/tooltip'
import { ResizableHandle, ResizablePanel, ResizablePanelGroup } from '@/Components/ui/resizable'
import Button from '@/Components/ui/button/Button.vue'
import Toaster from '@/Components/ui/toast/Toaster.vue'
interface MailProps {
    accounts: {
        label: string
        email: string
        icon: string
    }[]
    mails: Mail[]
    defaultLayout?: number[]
    defaultCollapsed?: boolean
    navCollapsedSize: number
}

const props = withDefaults(defineProps<MailProps>(), {
    defaultCollapsed: false,
    defaultLayout: () => [30, 70],
})

const isCollapsed = ref(props.defaultCollapsed)


const links: LinkProp[] = [
    {
        title: 'Dashboard',
        icon: 'lucide:layout-dashboard',
        variant: 'default',
        routeName: 'dashboard',
    },
    {
        title: 'Mes Publications',
        icon: 'lucide:file-text',
        variant: 'ghost',
        routeName: 'posts',
    },
    {
        title: 'Commentaires',
        icon: 'lucide:message-square',
        variant: 'ghost',
        routeName: 'comments',
    },
];


const links2: LinkProp[] = [
    {
        title: 'Settings',
        icon: 'lucide:sliders-horizontal',
        variant: 'ghost',
        routeName: 'settings',
    },
];

function onCollapse() {
    isCollapsed.value = true
}

function onExpand() {
    isCollapsed.value = false
}

function toggleSidebar() {
    isCollapsed.value = !isCollapsed.value;
}
</script>

<template>
    <Toaster />
    <TooltipProvider :delay-duration="0">
        <ResizablePanelGroup id="resize-panel-group-1" direction="horizontal"
            class="min-h-screen max-h-screen items-stretch">
            <ResizablePanel id="resize-panel-1" :default-size="defaultLayout[0]" collapsible :min-size="15"
                :max-size="20" :class="cn(isCollapsed && 'min-w-[50px] transition-all duration-300 ease-in-out ')"
                @expand="onExpand" :style="{ overflow: 'visible', flex: isCollapsed ? '0 1 0px' : '19.5 1 0px' }"
                @collapse="onCollapse">

                <div
                    :class="cn('relative flex h-[52px] items-center justify-center z-50 ', isCollapsed ? 'h-[52px]' : 'px-2')">
                    <Button class="absolute right-[-1rem] rounded-full" variant="outline" @click="toggleSidebar">
                        <ChevronsRight
                            :class="cn('transition-transform duration-500 ease-in-out', !isCollapsed && 'rotate-180')" />
                    </Button>

                </div>

                <Separator />
                <Nav :is-collapsed="isCollapsed" :links="links" />
                <Separator />
                <Nav :is-collapsed="isCollapsed" :links="links2" />
            </ResizablePanel>
            <ResizableHandle id="resize-handle-1" with-handle />
            <ResizablePanel :style="{ overflow: 'scroll' }" resize-panel-2 :default-size="defaultLayout[1]"
                :min-size="30">
                <slot></slot>
            </ResizablePanel>

        </ResizablePanelGroup>
    </TooltipProvider>
</template>
