<script setup lang="ts">
import type { Table } from '@tanstack/vue-table'
import { computed } from 'vue'
import type { Task } from '@/Pages/tasks/data/schema'
import { priorities, statuses } from '@/Pages/tasks/data/data'
import DataTableFacetedFilter from '@/Pages/tasks/components/DataTableFacetedFilter.vue'
import DataTableViewOptions from '@/Pages/tasks/components/DataTableViewOptions.vue'
import { Button, buttonVariants } from '@/Components/ui/button'
import { Input } from '@/Components/ui/input'
import { Cross2Icon } from '@radix-icons/vue'
import { PlusCircle } from 'lucide-vue-next'

interface DataTableToolbarProps {
  table: Table<Task>
}

const props = defineProps<DataTableToolbarProps>()

const isFiltered = computed(() => props.table.getState().columnFilters.length > 0)
</script>

<template>
  <div class="flex items-center justify-between">
    <div class="flex flex-1 items-center space-x-2">
      <Input placeholder="Filter tasks..." :model-value="(table.getColumn('title')?.getFilterValue() as string) ?? ''"
        class="h-8 w-[150px] lg:w-[250px]" @input="table.getColumn('title')?.setFilterValue($event.target.value)" />
      <DataTableFacetedFilter v-if="table.getColumn('status')" :column="table.getColumn('status')" title="Status"
        :options="statuses" />
      <DataTableFacetedFilter v-if="table.getColumn('priority')" :column="table.getColumn('priority')" title="Priority"
        :options="priorities" />

      <Button v-if="isFiltered" variant="ghost" class="h-8 px-2 lg:px-3" @click="table.resetColumnFilters()">
        Reset
        <Cross2Icon class="ml-2 h-4 w-4" />
      </Button>
    </div>
    <div class="flex justify-between gap-4">
      <DataTableViewOptions :table="table" />
      <Button size="sm" class="h-7 gap-1">
        <PlusCircle class="h-3.5 w-3.5" />
        <span class="sr-only sm:not-sr-only sm:whitespace-nowrap">
          Add Product
        </span>
      </Button>
    </div>
  </div>
</template>
