<script setup lang="ts">
import type { Row } from '@tanstack/vue-table'
import { computed } from 'vue'
import { taskSchema, type Task } from '@/Pages/tasks/data/schema'
import { Button } from '@/Components/ui/button'
import {
  DropdownMenu,
  DropdownMenuContent,
  DropdownMenuItem,
  DropdownMenuRadioGroup,
  DropdownMenuRadioItem,
  DropdownMenuSeparator,
  DropdownMenuShortcut,
  DropdownMenuSub,
  DropdownMenuSubContent,
  DropdownMenuSubTrigger,
  DropdownMenuTrigger,
} from '@/Components/ui/dropdown-menu'
import { DotsHorizontalIcon } from '@radix-icons/vue'
import { labels } from '@/Pages/tasks/data/data'
import { Input } from '@/Components/ui/input'
import { Label } from '@/Components/ui/label'
import {
  Sheet,
  SheetClose,
  SheetContent,
  SheetDescription,
  SheetFooter,
  SheetHeader,
  SheetTitle,
  SheetTrigger,
} from '@/Components/ui/sheet'
import { cn } from '@/lib/utils'
import { useToast } from '@/Components/ui/toast/use-toast'

interface DataTableRowActionsProps {
  row: Row<Task>
}
const props = defineProps<DataTableRowActionsProps>()

const task = computed(() => taskSchema.parse(props.row.original))
const { toast } = useToast()

function saveTaskChanges() {
  console.log('Save task changes:', task.value);
  toast({
    title: 'Save task changes',
    description: 'Task has been updated',
  });
}
</script>

<template>
  <Sheet>

    <DropdownMenu>
      <DropdownMenuTrigger as-child>
        <Button variant="ghost" class="flex h-8 w-8 p-0 data-[state=open]:bg-muted">
          <DotsHorizontalIcon class="h-4 w-4" />
          <span class="sr-only">Open menu</span>
        </Button>
      </DropdownMenuTrigger>
      <DropdownMenuContent align="end" class="w-[160px]">
        <SheetTrigger as-child>
          <Button variant="ghost" :class="cn('h-full px-0 py-0 w-full justify-start font-normal')">
            <DropdownMenuItem>Edit</DropdownMenuItem>
          </Button>
        </SheetTrigger>
        <DropdownMenuItem>Make a copy</DropdownMenuItem>
        <DropdownMenuItem>Favorite</DropdownMenuItem>
        <DropdownMenuSeparator />
        <DropdownMenuSub>
          <DropdownMenuSubTrigger>Labels</DropdownMenuSubTrigger>
          <DropdownMenuSubContent>
            <DropdownMenuRadioGroup :value="task.label">
              <DropdownMenuRadioItem v-for="label in labels" :key="label.value" :value="label.value">
                {{ label.label }}
              </DropdownMenuRadioItem>
            </DropdownMenuRadioGroup>
          </DropdownMenuSubContent>
        </DropdownMenuSub>
        <DropdownMenuSeparator />
        <DropdownMenuItem>
          Delete
          <DropdownMenuShortcut>⌘⌫</DropdownMenuShortcut>
        </DropdownMenuItem>
      </DropdownMenuContent>
      <SheetContent>
        <SheetHeader>
          <SheetTitle>Edit Task</SheetTitle>
          <SheetDescription>
            Make changes to the task here. Click save when you're done.
          </SheetDescription>
        </SheetHeader>
        <div class="grid gap-4 py-4">
          <!-- Title -->
          <div class="grid grid-cols-4 items-center gap-4">
            <Label for="title" class="text-right">
              Title
            </Label>
            <Input id="title" v-model="task.title" class="col-span-3" />
          </div>
          <!-- Status -->
          <div class="grid grid-cols-4 items-center gap-4">
            <Label for="status" class="text-right">
              Status
            </Label>
            <Input id="status" v-model="task.status" class="col-span-3" />
          </div>
          <!-- Label -->
          <div class="grid grid-cols-4 items-center gap-4">
            <Label for="label" class="text-right">
              Label
            </Label>
            <Input id="label" v-model="task.label" class="col-span-3" />
          </div>
          <!-- Priority -->
          <div class="grid grid-cols-4 items-center gap-4">
            <Label for="priority" class="text-right">
              Priority
            </Label>
            <Input id="priority" v-model="task.priority" class="col-span-3" />
          </div>
        </div>
        <SheetFooter>
          <SheetClose as-child>
            <Button type="button" @click="saveTaskChanges">
              Save changes
            </Button>
          </SheetClose>
        </SheetFooter>
      </SheetContent>

    </DropdownMenu>
  </Sheet>

</template>
