<script setup lang="ts">
import ShadcnLayout from '@/Layouts/ShadcnLayout.vue'
import { accounts, mails } from '@/Pages/mail/data/mails'
import Example from '@/Pages/tasks/Example.vue';
</script>

<template>
    <ShadcnLayout :accounts="accounts" :mails="mails" :navCollapsedSize="4">
        <Example />
    </ShadcnLayout>
</template>