<script setup lang="ts">
import { useRoute } from 'vitepress'
import { cn } from '@/lib/utils'
import { Button } from '@/Components/ui/button'
import { Link, usePage } from '@inertiajs/vue3';
import { ref } from 'vue';



interface Item {
  title: string
  href: string
}


const sidebarNavItems: Item[] = [
  {
    title: 'Profile',
    href: 'profile.edit',
  },
  {
    title: 'Account',
    href: 'settings.account',
  },
  {
    title: 'Appearance',
    href: 'settings.appearance',
  },
  {
    title: 'Notifications',
    href: 'settings.notifications',
  },
  {
    title: 'Display',
    href: 'settings.display',
  },
]
const { currentRouteName } = usePage().props;

</script>

<template>
  <nav class=" min-w-full flex space-x-2 lg:flex-col lg:space-x-0 lg:space-y-1">
    <Link />
    <Button v-for="item in sidebarNavItems" :key="item.title" as="a" :href="route(item.href)" variant="ghost" :class="cn(
      'w-full text-left justify-start',
      item.href === currentRouteName ? 'bg-muted hover:bg-muted' : '',
    )">
      {{ item.title }}
    </Button>
  </nav>
</template>
