<script lang="ts" setup>
import { computed, ref } from 'vue'
import { refDebounced } from '@vueuse/core'
import type { Mail } from '@/Pages/mail/data/mails'
import Nav, { type LinkProp } from './Nav.vue'
import { cn } from '@/lib/utils'
import { Separator } from '@/Components/ui/separator'
import { ChevronsRight } from 'lucide-vue-next';
import { TooltipProvider } from '@/Components/ui/tooltip'
import { ResizableHandle, ResizablePanel, ResizablePanelGroup } from '@/Components/ui/resizable'
import Button from '@/Components/ui/button/Button.vue'

interface MailProps {
  accounts: {
    label: string
    email: string
    icon: string
  }[]
  mails: Mail[]
  defaultLayout?: number[]
  defaultCollapsed?: boolean
  navCollapsedSize: number
}

const props = withDefaults(defineProps<MailProps>(), {
  defaultCollapsed: false,
  defaultLayout: () => [265, 440, 655],
})

const isCollapsed = ref(props.defaultCollapsed)
const selectedMail = ref<string | undefined>(props.mails[0].id)
const searchValue = ref('')
const debouncedSearch = refDebounced(searchValue, 250)

const filteredMailList = computed(() => {
  let output: Mail[] = []
  const searchValue = debouncedSearch.value?.trim()
  if (!searchValue) {
    output = props.mails
  }

  else {
    output = props.mails.filter((item) => {
      return item.name.includes(debouncedSearch.value)
        || item.email.includes(debouncedSearch.value)
        || item.name.includes(debouncedSearch.value)
        || item.subject.includes(debouncedSearch.value)
        || item.text.includes(debouncedSearch.value)
    })
  }

  return output
})

const unreadMailList = computed(() => filteredMailList.value.filter(item => !item.read))

const selectedMailData = computed(() => props.mails.find(item => item.id === selectedMail.value))

const links: LinkProp[] = [
  {
    title: 'Dashboard',
    label: undefined,
    icon: 'lucide:layout-dashboard',
    variant: 'default',
  },
  {
    title: 'Mes Publications',
    label: undefined,
    icon: 'lucide:file-text',
    variant: 'ghost',
  },
  {
    title: 'Commentaires',
    label: undefined,
    icon: 'lucide:message-square',
    variant: 'ghost',
  },
]


const links2: LinkProp[] = [
  {
    title: 'Settings',
    label: undefined,
    icon: 'lucide:sliders-horizontal',
    variant: 'ghost',
  },

]

function onCollapse() {
  isCollapsed.value = true
}

function onExpand() {
  isCollapsed.value = false
}

function toggleSidebar() {
  isCollapsed.value = !isCollapsed.value;
}
</script>

<template>
  <TooltipProvider :delay-duration="0">
    <ResizablePanelGroup id="resize-panel-group-1" direction="horizontal" class="h-full max-h-screen items-stretch">
      <ResizablePanel id="resize-panel-1" :default-size="defaultLayout[0]" collapsible :min-size="15" :max-size="20"
        :class="cn(isCollapsed && 'min-w-[50px] transition-all duration-300 ease-in-out ')" @expand="onExpand"
        :style="{ overflow: 'visible', flex: isCollapsed ? '0 1 0px' : '19.5 1 0px' }" @collapse="onCollapse">

        <div :class="cn('relative flex h-[52px] items-center justify-center z-50 ', isCollapsed ? 'h-[52px]' : 'px-2')">
          <Button class="absolute right-[-1rem] rounded-full" variant="outline" @click="toggleSidebar">
            <ChevronsRight :class="cn('transition-transform duration-500 ease-in-out', !isCollapsed && 'rotate-180')" />
          </Button>

        </div>

        <Separator />
        <Nav :is-collapsed="isCollapsed" :links="links" />
        <Separator />
        <Nav :is-collapsed="isCollapsed" :links="links2" />
      </ResizablePanel>
      <ResizableHandle id="resize-handle-1" with-handle />
      <ResizablePanel id="resize-panel-2" :default-size="defaultLayout[1]" :min-size="30">
        <slot></slot>
      </ResizablePanel>

    </ResizablePanelGroup>
  </TooltipProvider>
</template>
